extends layout

block append scripts
  script(src="../lib/angular/angular.min.js")
  script(src="../lib/jquery/jquery.min.js")
  script(src="../lib/angular-aria/angular-aria.js")
  script(src="../lib/angular-animate/angular-animate.js")
  script(src="../lib/angular-material/angular-material.js")
  script(src="../lib/angular-material-data-table/dist/md-data-table.min.js")
  script(src="../lib/angular-color-picker/angular-color-picker.js")
  script(src="../lib/angular-sanitize/angular-sanitize.js")
  script(src="../lib/angular-translate/dist/angular-translate.min.js")
  script(src="../lib/angular-translate/dist/angular-translate-loader-url/angular-translate-loader-url.min.js")
  script(src="/lib/angular-app/index.js")
  script(src="../scripts/group_config.js")
  
block append links
  link(rel="stylesheet" href="../lib/angular-material/angular-material.css")
  link(rel="stylesheet" href="../lib/angular-material-data-table/dist/md-data-table.min.css")
  link(rel="stylesheet" href="../lib/angular-color-picker/angular-color-picker.css")
  link(rel="stylesheet" href="../style/config.css")

block append content
  div(ng-app="Pronghorn" ng-controller="GroupConfig" flex ng-cloak style="height:calc(100% - 50px)")
    section(layout="row" layout-fill flex)
      md-sidenav(class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')")
        md-toolbar(layout='row' style="background-color:#3D93D3;")
          span.md-toolbar-tools.fill-height(layout='row' flex) {{'%GROUPS%' | translate}}
          md-button(style="min-width: 10px; padding-left: 0px; padding-right: 5px" aria-label="saveGroup" ng-disabled="!groupModified" ng-click="saveGroup()")
            md-icon(md-svg-src="../../lib/material-design-icons/content/svg/production/ic_save_48px.svg")
            md-tooltip {{'%SAVE_GROUP_ROLES%' | translate}}
        md-content
          input(ng-model="groupSearch" placeholder="Search Groups" style="width:100%; height:30px;")
          md-list
            our-md-list-item(ng-repeat="group in groups | filter:groupSearch | orderBy:1" ng-click="display(group)" aria-label="group")
              div(class="md-list-item-text" ng-class="{selected:group == currentGroup.group}")
                p {{group}}
              md-divider(ng-if="!$last")
      md-content(layout="column" flex)
        md-table-container
          table(md-table)
            thead(md-head)
              tr(md-row)
                td
                    md-checkbox(ng-model="allCheck" ng-change="addAllRoles(rolesFilter, allCheck)" aria-label="toggle_all_roles" style="margin:0; margin-left:23px; margin-top:4px; margin-bottom:4;")
                    md-tooltip {{'%CHECK_ALL_ROLES%' | translate}}
                td
                    input(ng-change="query.page = 1" ng-model="rolesFilter.package" placeholder="package")
                td
                    input(ng-change="query.page = 1" ng-model="rolesFilter.role" placeholder="role")
                td
                    input(ng-change="query.page = 1" ng-model="rolesFilter.methods" placeholder="method")
                td
                    input(ng-change="query.page = 1" ng-model="rolesFilter.views" placeholder="view")
            tbody(md-body)
              tr(md-row style="height: 40px" ng-repeat="role in rolesFiltered | filter: rolesFilter | orderBy:'package'")
                td(md-cell)
                  md-checkbox(ng-click="toggleInGroup(role)" ng-model="role.inGroup" aria-label="toggle_this_role")
                td(md-cell) {{role.package}}
                td(md-cell) {{role.role}}
                td(md-cell style="max-width:300px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;") {{role.methods}}
                td(md-cell style="max-width:300px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;") {{role.views}}