doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  title Pronghorn
  
  block scripts
    
    script(src="../scripts/header.js")

  block links
    link(rel="stylesheet" href="../style/pronghorn-font.css")
    link(rel="stylesheet" href="../style/layout.css")
    link(rel="stylesheet" href="../style/header.css")
    link(rel="stylesheet" href="../style/custom.css")
    link(rel="stylesheet" href="../style/loading_screen.css")

  block style
    style.
      .itcontainer {height:100%;}
      .navbutton {margin:0px 10px; padding-top:6px; height:50px; color:white !important;}
      .menubutton {margin:0px 10px; height:50px;}
      .menubackground {padding:0px; margin:0px; background:#2e2e2e; color:white;}
      .boxWithHeight {box-sizing: border-box;height: 100%;}
      md-progress-linear {z-index:1;}
body
  div.page

    include header.jade

    block content

    div
      block foot