extends layout

block append scripts
  script(src="../scripts/profile.js")

block append links
  link(rel="stylesheet" href="../style/profile.css")
  link(rel="stylesheet" href="/style/input_elements.css")

block append content
  div.title-bar
    h3.title User Profile
    div.actions
      button.save(title="Save" onclick="save()")  Save
      button.close(title="Close" onclick="closePage()")
  div.inner-div
    label.email-label Email
    input.email-input#email
    label.input-comment All notifications will be sent to this email address.
  div
    label.invisible#error-msg Enter valid email address
