extends layout

block append scripts
  script(src="../lib/angular/angular.min.js")
  script(src="../lib/jquery/jquery.min.js")
  script(src="../lib/angular-aria/angular-aria.js")
  script(src="../lib/angular-animate/angular-animate.js")
  script(src="../lib/angular-material/angular-material.js")
  script(src="../lib/angular-material-data-table/dist/md-data-table.min.js")
  script(src="../lib/angular-color-picker/angular-color-picker.js")
  script(src="../lib/angular-sanitize/angular-sanitize.js")
  script(src="../lib/angular-translate/dist/angular-translate.min.js")
  script(src="../lib/angular-translate/dist/angular-translate-loader-url/angular-translate-loader-url.min.js")
  script(src="/lib/angular-app/index.js")
  script(src="../scripts/user_config.js")

block append links
  link(rel="stylesheet" href="../lib/angular-material/angular-material.css")
  link(rel="stylesheet" href="../lib/angular-material-data-table/dist/md-data-table.min.css")
  link(rel="stylesheet" href="../lib/angular-color-picker/angular-color-picker.css")
  link(rel="stylesheet" href="../style/config.css")

block append content
  div(ng-app="Pronghorn" ng-controller="UserConfig" flex ng-cloak style="height:calc(100% - 50px)")
    section(layout="row" layout-fill flex)
      md-sidenav(class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')")
        md-toolbar(layout='row' style="background-color:#3D93D3;")
          span.md-toolbar-tools.fill-height(layout='row' flex) {{'%USERS%' | translate}}
        md-content
          input(ng-model="userSearch" placeholder="Search Users" style="width:100%; height:30px;")
          md-list
            md-list-item(ng-repeat="user in users | filter:userSearch" ng-click="displayUser(user)" aria-label="user" ng-class="{selected:user == currentUser.username}")
              div(class="md-list-item-text")
                p {{user}}
              md-divider(ng-if="!$last")
      md-content(layout="column" flex)
        md-table-container
          table(md-table)
            thead(md-head)
              tr(md-row)
                td
                  span.md-toolbar-tools.fill-height {{'%ASSIGNED_GROUPS%' | translate}}
                td
            tbody(md-body)
              tr(md-row, ng-repeat="group in filteredGroups | filter:groupSearch | orderBy:'group'")
                td(md-cell) {{group.group}}
