
@import 'variables';

.action-bar-spacer, .action-bar {
    height: $action-bar-height;
}

.action-bar {
    background: #eee none repeat scroll 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.1em 1em;
    button {
        padding: 0.25em;
        margin: 0.15em 0.25em;
        box-shadow: none;
        background-color: transparent;
        label {
            display: inline-block;
            margin: 0 0.5em;
        }
        &.delete {
            float: right;
        }
        &:not([disabled]):active {
            box-shadow: none; 
        }
    }
}