.selected {
	background: lightgrey;
}

.successful {
	color: #00aa00;
}

.failure {
	color: #aa0000;
}

.unknown {
	color: #aaaa00;
}

.expandable-toolbar {
	min-height: 48px;
	max-height: 48px;
}

.method-header {
	border: 1px solid;
	padding-right: 5px;
}

.method-verb {
	width: 60px;
	border-radius: 3px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.method-path {
	padding-left: 5px;
}

.method-header-get,
.method-header-view {
	background-color: #e7f0f7;
  	border-color: #c3d9ec;
}

.method-font-get,
.method-font-view {
	color: #0f6ab4;
}

.method-verb-get,
.method-verb-view {
	background-color: #0f6ab4;
	color: #ffffff;
}

.method-header-post,
.method-header-dialog {
	background-color: #e7f6ec;
  	border-color: #c3e8d1;
}

.method-font-post,
.method-font-dialog {
	color: #10a54a;
}

.method-verb-post,
.method-verb-dialog {
	background-color: #10a54a;
	color: #ffffff;
}

.method-header-patch,
.method-header-task {
	background-color: #fce9e3;;
  	border-color: #f5d5c3;
}

.method-font-patch,
.method-font-task {
	color: #d38042;
}

.method-verb-patch,
.method-verb-task {
	background-color: #d38042;
	color: #ffffff;
}

.method-header-delete {
	background-color: #f5e8e8;
  	border-color: #e8c6c7;
}

.method-font-delete {
	color: #a41e22;
}

.method-verb-delete {
	background-color: #a41e22;
	color: #ffffff;
}

.method-header-local {
	background-color: #e8e8e8;
	border-color: #d1d1d1;
}

.method-font-local {
	color: #4f4f4f;
}

.method-verb-local {
	background-color: #4f4f4f;
	color: #ffffff;
}

.method-details {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-radius: 0px 0px 3px 3px;
}

md-content {
	background-color: inherit;
	border-color: inherit;
}

md-select-menu > md-content {
    background-color: white;
    border-color: white;
}

.scrunched {
	margin-top: 0px;
	margin-bottom: 0px;
}

.match_input {
	padding-top: 3px;
	padding-bottom: 3px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

#group_headers {
    padding: 0px;
    padding-bottom: 5px;
    padding-top: 5;
}

table thead td {
	font-weight: bold;
}

#memChart {
	 width: 100% !important;
	 max-width: 1000px;
	 height: auto !important;
 }
 
 .chart-div {
	 width:500px;
	 float: left;
	 padding:10px;
 }
 
 md-list-item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

md-list-item.item-stable {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
}
md-list md-list-item.item-accordion.ng-hide {
  line-height: 0px;
}
md-list-item.item-accordion {
  display: block !important;
}

our-md-list-item {
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	cursor: pointer;
}

.md-list-item-text {
	display: inline-block;
	text-indent: 1em;
	width: 100%;
}
.md-list-item-text.selected {
	width: 100%;
	color: #444;
}
