@import 'variables';


// html, body {
// 	font-family: Roboto,"Helvetica Neue",sans-serif;
// }

#form_navigation {
	font-weight: bold;
	margin: 1em 1em 0;
	padding: 0;
	li {
		display: inline;
		span {
			color: $link-color;
			cursor: pointer;
		}
	}
	li+li:before {
		content: " > ";
	}
}
#form_container {
	margin: 1em;
}

form {
	select, button, textarea, input {
		font-size: 100%;
	}
	select {
		display: block;
	}

	// input[type="text"], 
	// input[type="password"], 
	// input[type="email"], 
	// input[type="tel"], 
	// input[type="url"], 
	// select {
	//     width: 100%;
	//     min-width: 13em;
	// }
	input[type="text"], 
	input[type="password"], 
	input[type="email"], 
	input[type="tel"], 
	input[type="url"], 
	input[type="number"], 
	input[type="date"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="month"], 
	input[type="week"], 
	input[type="time"], 
	input[list] {
		background-color: white;
	}
	input[readonly] {
		border: none;
		background: transparent;
	}
	input:read-only {
		border: none;
		background: transparent;
	}
	input:-moz-read-only {
		border: none;
		background: transparent;
	}
	table {
		input[readonly] {
			cursor: pointer;
		}
		input:read-only {
			cursor: pointer;
		}
		input:-moz-read-only {
			cursor: pointer;
		}
	}


	// input:read-only {
	// 	opacity: 0.5;
	// } 
	// input:-moz-read-only {  // there seems to be a bug where Firefox won't recognize this pseudo-class declaration without it being separated from the others
	// 	opacity: 0.5;
	// }
	input:disabled, 
	select:disabled, 
	textarea:disabled {
		opacity: 0.5;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		// display: inline-block;
		display: inline;
	}

	.form-field, .container {
		padding: 0;		
		border-width: 0;
		vertical-align: top;
	}

	.form-field {
		.validation-message {
			padding-left: 1em;
			color: red;
			font-size: 0.8em;
		}
		padding: 0.25em;
		label, label_required {
			font-size: 0.8em;
			position: relative;
		}
		input[type=radio] + label, 
		input[type=checkbox] + label {
			display: inline-block;
			min-width: 10em;
		}
		&.key, 
		&.link { 
			& > label:after, label_required:after {
				display: inline-block;
				vertical-align: middle;
				font-family: "pronghorn-font";
				margin-left: 0.25em;
				font-size: 1.25em;
			}
		}
		&.key > label:after {
			content: '\e811';
		} 
		&.link > label:after {
			content: '\e812';
		}
	}
	th, td {
		&.key { 
			& > label:after, & > label_required:after {
				display: inline-block;
				vertical-align: middle;
				font-family: "pronghorn-font";
				margin-left: 0.25em;
				font-size: 1.25em;
				content: '\e811';
			}
		}
	}

	.container {
		margin: 0.25em;
		&.container-has-name {
			border-style: solid;
			border-color: rgba(0, 0, 0, 0.5);;
			border-width: 1px;
			border-radius: 0.25em;
			& > .container-name {
				display: block;
				font-weight: bold;
				color: white;
				background-color: rgba(0, 0, 0, 0.5);;
				padding: 0.25em 0.5em;
				border-radius: 0.18em 0.18em 0 0;
			}
		}
	}

	ul {
		li {
			display: block;
			vertical-align: top;
			input[type=radio] + label, 
			input[type=checkbox] + label {
				display: inline-block;
				font-size: 0.8em;
			}
		}
	}



	table, 
	table.responsive {
		table-layout: initial;
		border-spacing: 0 0.1em;
		margin-bottom: 0.5em;
		.column-names {
			line-height: initial;
			th {
				border-width: 0;
				bottom: 0;
				min-width:100px;
				label {
					background-color: #eee;
					padding: 0.25em 0.5em;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: normal;
					font-size: 0.8em;
					min-width:100px;
				}
			}
		}
		tbody tr {
			&:hover {
				background-color: #eee;
			}
		}
		th, td {
			padding: 0.25em;
		}
		// tbody tr:hover td {
		// 	background-color: transparent;
		// }
		// td.table-link {
			// text-align: center;
			// button {
			// 	box-shadow: none;
			// 	max-width: 100%;
			// 	text-overflow: ellipsis;
			// }
		// }
		th.delete-row, 
		td.delete-row {
			width: 2em;
			button {
				color: rgba(0, 0, 0, 0.2);
				padding: 0 0.1em;
				font-size: 0.8em;
				background: none;
				border: none;
			}
			&:before {
				content: none;
			}
		}
		button.delete:before {
			vertical-align: initial;
		}
	}
	
	.form-table, 
	.form-list {
		max-width:100%;
		margin: 1em 0.25em;
		padding-bottom:15px;
		> button {
			font-size: 0.8em;
			border-radius: 2em;
		}
		table.responsive {
			width:100%;
			margin-left:-5px;
			overflow:none;
			margin-bottom:0;
		}
		label{
			padding-left:5px;
		}
		
	}
	.scroll-table::-webkit-scrollbar {
		-webkit-appearance: none;
		height:7px;
		width:20px;
	}
	.scroll-table::-webkit-scrollbar-thumb {
		border-radius: 7px !important;
		background-color: rgba(0,0,0,.4);
	}
	.scroll-table{
		max-width:100%;
		overflow: scroll;
		margin-bottom:15px;
	}
}

.validate {
	input:invalid {
		border-color: $color-fail;
	}
	input:valid {
	}
	input:required {
		// border-color: $primary-accent-color;
	}
	select:required:invalid {
		color: $color-fail;
	}
}



/*** Breakpoints ***/

/* mid-size */
@media screen and (min-width: 26em) {
	form {
		.container.horizontal > ul > li {
			display: inline-block;
		}
		.container.vertical > ul > li, 
		.container.vertical > ul > li > .form-field {
			display: block;
		}
		table {
			tbody tr {
				// display: table-row;
				&:hover {
					background-color: transparent;
				}
				&:hover td {
					background-color: #eee;
				}
			}
			th, td {
				&:first-child {
					border-radius: 1em 0 0 1em;
					padding-left: 0.5em;
				}
				&:last-child {
					border-radius: 0 1em 1em 0;
					padding-right: 0.5em;
				}
			}
		}
	}

}

/* large-size */
@media screen and (min-width: 50em) {
	form {
		table.responsive {
			tbody tr {
				// display: table-row;
				&:hover {
					background-color: transparent;
				}
				&:hover td {
					background-color: #eee;
				}
			}
			th, td {
				&:first-child {
					border-radius: 1em 0 0 1em;
					padding-left: 0.5em;
				}
				&:last-child {
					border-radius: 0 1em 1em 0;
					padding-right: 0.5em;
				}
			}
		}
	}
}

.last_navigation_point{
  cursor:default !important;
  color:black !important;
}