#form_navigation {
  font-weight: bold;
  margin: 1em 1em 0;
  padding: 0; }
  #form_navigation li {
    display: inline; }
    #form_navigation li span {
      color: #0094D9;
      cursor: pointer; }
  #form_navigation li + li:before {
    content: " > "; }

#form_container {
  margin: 1em; }

md-dialog #form_navigation{
    margin: 0em 0.2em 0.5em; }

form select, form button, form textarea, form input {
  font-size: 100%; }
form select {
  display: block; }
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"],
form input[type="url"],
form input[type="number"],
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="month"],
form input[type="week"],
form input[type="time"],
form input[list] {
  background-color: white; }
form input[readonly] {
  border: none;
  background: transparent; }
form input:read-only {
  border: none;
  background: transparent; }
form input:-moz-read-only {
  border: none;
  background: transparent; }
form table input[readonly] {
  cursor: pointer; }
form table input:read-only {
  cursor: pointer; }
form table input:-moz-read-only {
  cursor: pointer; }
form input:disabled,
form select:disabled,
form textarea:disabled {
  opacity: 0.5; }
form ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline; }
form .form-field, form .container {
  padding: 0;
  border-width: 0;
  vertical-align: top; }
form .form-field {
  padding: 0.25em; }
  form .form-field .validation-message,
  form .form-table .validation-message,
  form .form-list .validation-message {
    padding-left: 1em;
    color: red;
    font-size: 0.8em; }
  form .form-field label, form .form-field label_required {
    font-size: 0.8em;
    position: relative; }
  form .form-field input[type=radio] + label,
  form .form-field input[type=checkbox] + label,
  form .form-field input[type=radio] + label_required,
  form .form-field input[type=checkbox] + label_required {
    display: inline-block;
    min-width: 10em; }
  form .form-field.key > label:after, form .form-field.link > label:after,
  form .form-field.key > label_required:after, form .form-field.link > label_required:after {
    display: inline-block;
    vertical-align: middle;
    font-family: "pronghorn-font";
    margin-left: 0.25em;
    font-size: 1.25em; }
  form .form-field.key > label:after, form .form-field.key > label_required:after {
    content: '\e811'; }
  form .form-field.link > label:after, form .form-field.link > label_required:after {
    content: '\e812'; }
form th.key > label:after, form td.key > label:after,
form th.key > label_required:after, form td.key > label_required:after {
  display: inline-block;
  vertical-align: middle;
  font-family: "pronghorn-font";
  margin-left: 0.25em;
  font-size: 1.25em;
  content: '\e811'; }
form .container {
  margin: 0.25em; }
  form .container.container-has-name {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: 0.25em; }
    form .container.container-has-name > .container-name {
      display: block;
      font-weight: bold;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.25em 0.5em;
      border-radius: 0.18em 0.18em 0 0; }
form ul li {
  display: block;
  vertical-align: top; }
  form ul li input[type=radio] + label,
  form ul li input[type=checkbox] + label {
    display: inline-block;
    font-size: 0.8em; }
form table,
form table.responsive {
  table-layout: initial;
  border-spacing: 0 0.1em;
  margin-bottom: 0.5em; }
  form table .column-names,
  form table.responsive .column-names {
    line-height: initial; }
    form table .column-names th,
    form table.responsive .column-names th {
      border-width: 0;
      bottom: 0;
      min-width: 100px; }
      form table .column-names th label,
      form table.responsive .column-names th label {
        background-color: #eee;
        padding: 0.25em 0.5em;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
        font-size: 0.8em;
        min-width: 100px; }
  form table tbody tr:hover,
  form table.responsive tbody tr:hover {
    background-color: #eee; }
  form table th, form table td,
  form table.responsive th,
  form table.responsive td {
    padding: 0.25em; }
  form table th.delete-row,
  form table td.delete-row,
  form table.responsive th.delete-row,
  form table.responsive td.delete-row {
    width: 2em; }
    form table th.delete-row button,
    form table td.delete-row button,
    form table.responsive th.delete-row button,
    form table.responsive td.delete-row button {
      color: rgba(0, 0, 0, 0.2);
      padding: 0 0.1em;
      font-size: 0.8em;
      background: none;
      border: none; }
    form table th.delete-row:before,
    form table td.delete-row:before,
    form table.responsive th.delete-row:before,
    form table.responsive td.delete-row:before {
      content: none; }
  form table button.delete:before,
  form table.responsive button.delete:before {
    vertical-align: initial; }
form .form-table,
form .form-list {
  max-width: 100%;
  margin: 1em 0.25em;
  padding-bottom: 15px; }
  form .form-table > button,
  form .form-list > button {
    font-size: 0.8em;
    border-radius: 2em; }
  form .form-table table.responsive,
  form .form-list table.responsive {
    width: 100%;
    margin-left: -5px;
    overflow: none;
    margin-bottom: 0; }
  form .form-table label,
  form .form-list label {
    padding-left: 5px; }
form .scroll-table::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
  width: 20px; }
form .scroll-table::-webkit-scrollbar-thumb {
  border-radius: 7px !important;
  background-color: rgba(0, 0, 0, 0.4); }
form .scroll-table {
  max-width: 100%;
  overflow: scroll;
  margin-bottom: 15px; }

.validate input:invalid {
  border-color: #e11845; }
.validate select:required:invalid {
  color: #e11845; }

/*** Breakpoints ***/
/* mid-size */
@media screen and (min-width: 26em) {
  form .container.horizontal > ul > li {
    display: inline-block; }
  form .container.vertical > ul > li,
  form .container.vertical > ul > li > .form-field {
    display: block; }
  form table tbody tr:hover {
    background-color: transparent; }
  form table tbody tr:hover td {
    background-color: #eee; }
  form table th:first-child, form table td:first-child {
    border-radius: 1em 0 0 1em;
    padding-left: 0.5em; }
  form table th:last-child, form table td:last-child {
    border-radius: 0 1em 1em 0;
    padding-right: 0.5em; } }
/* large-size */
@media screen and (min-width: 50em) {
  form table.responsive tbody tr:hover {
    background-color: transparent; }
  form table.responsive tbody tr:hover td {
    background-color: #eee; }
  form table.responsive th:first-child, form table.responsive td:first-child {
    border-radius: 1em 0 0 1em;
    padding-left: 0.5em; }
  form table.responsive th:last-child, form table.responsive td:last-child {
    border-radius: 0 1em 1em 0;
    padding-right: 0.5em; } }

.last_navigation_point{
  cursor:default !important;
  color:black !important;
}
/*# sourceMappingURL=form.css.map */
