header {
  position: relative;
  background: #2e2e2e;
  height: 3em;
  text-align: center; }
  header a, header input, header button {
    box-sizing: border-box; }
  header #logo {
    background: transparent url("/img/logo-bug.svg") no-repeat scroll center center;
    display: inline-block;
    margin: 0.25em;
    height: 2.5em;
    width: 2.5em; }
    header #logo img {
      display: none;
      height: 100%; }
  header nav {
    display: inline; }
  header ul {
    display: none; }
  header .show-menu > ul {
    display: block; }
  header .show-menu > .menu-title,
  header .show-menu > .menu-title:before {
    color: #0094D9; }
  header ul, header li {
    margin: 0;
    padding: 0;
    vertical-align: top;
    z-index: 400; }
  header .menu {
    display: inline;
    vertical-align: top; }
    header .menu ul {
      list-style: none; }
    header .menu a {
      display: inline-block;
      color: white;
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 0.9em;
      padding: 1em;
      white-space: nowrap; }
      header .menu a :hover {
        color: #0094D9; }
    header .menu li {
      display: block;
      position: relative;
      z-index: 10; }
      header .menu li ul li a {
        background-color: #444;
        padding-left: 2em; }
      header .menu li > a {
        display: block;
        height: 100%;
        width: 100%;
        background-color: #2e2e2e;
        text-transform: uppercase; }
    header .menu.main-menu, header .menu.account-menu {
      text-align: left; }
      header .menu.main-menu > .menu-title,
      header .menu.main-menu > .menu-title, header .menu.account-menu > .menu-title,
      header .menu.account-menu > .menu-title {
        position: absolute;
        padding: 1em;
        z-index: 10;
        top: 0;
        display: inline-block;
        height: 100%; }
        header .menu.main-menu > .menu-title label,
        header .menu.main-menu > .menu-title label, header .menu.account-menu > .menu-title label,
        header .menu.account-menu > .menu-title label {
          display: none; }
    header .menu.main-menu > .menu-title {
      left: 0; }
    header .menu.account-menu > .menu-title {
      right: 0; }
    header .menu.main-menu > .menu-title:before, header .menu.account-menu > .menu-title:before,
    header .menu .username:after,
    header .menu .home:before,
    header .menu .logout:before,
    header .menu .profile:before,
    header .menu .language:before,
    header .menu .help:before {
      display: inline-block;
      font-family: "pronghorn-font"; }
    header .menu.main-menu > .menu-title:before {
      content: '\e805';
      font-size: 1.75em;
      line-height: 0.8em; }
    header .menu.account-menu > .menu-title:before {
      content: '\e806';
      font-size: 1.4em;
      line-height: 0.7em; }
    header .menu .logout:before {
      content: '\e802';
      width: 1em;
      padding-right: 0.75em;
      text-align: center; }
    header .menu .profile:before {
      content: '\e806';
      width: 1em;
      padding-right: 0.75em;
      text-align: center; }
    header .menu .language:before {
      content: '\e81a';
      width: 1em;
      padding-right: 0.75em;
      text-align: center; }
    header .menu .help:before {
      content: '\e813';
      width: 1em;
      padding-right: 0.75em;
      text-align: center; }
    header .menu .username {
      font-size: 1em;
      text-transform: none; }
    header .menu :hover {
      color: #0094D9; }

/*** Breakpoints ***/
/* small-to-medium-only */
@media screen and (min-width: 0em) and (max-width: 50em) {
  header .show-menu > ul {
    margin-top: -0.25em; } }
/* mid-size */
/* large-size */
@media screen and (min-width: 50em) {
  header {
    text-align: left; }
    header #logo {
      width: auto;
      box-sizing: border-box;
      height: 100%;
      margin: 0 1em 0 0;
      padding: 0.25em;
      background: transparent; }
      header #logo img {
        display: block; }
    header .show-menu > ul {
      display: inline;
      right: auto;
      left: 0;
      position: absolute;
      top: 3em; }
    header .menu {
      height: 3em; }
      header .menu ul li ul li a {
        background-color: #2e2e2e;
        padding-left: 1em; }
      header .menu.main-menu .menu-title:before, header .menu.account-menu .menu-title:before, header .menu.main-menu .home:before {
        content: none; }
      header .menu.main-menu, header .menu.account-menu {
        display: inline-block; }
        header .menu.main-menu .menu-title, header .menu.account-menu .menu-title {
          position: initial; }
      header .menu.main-menu > .menu-title {
        display: none; }
      header .menu.main-menu > ul, header .menu.main-menu.show-menu > ul,
      header .menu.main-menu > ul > li {
        display: inline-block;
        position: relative;
        top: 0; }
        header .menu.main-menu > ul > a, header .menu.main-menu.show-menu > ul > a,
        header .menu.main-menu > ul > li > a {
          width: auto;
          padding: 1em 1.8em; }
      header .menu.account-menu {
        position: absolute;
        right: 0;
        top: 0; }
        header .menu.account-menu > .menu-title {
          text-align: right; }
          header .menu.account-menu > .menu-title label {
            display: inline-block; }
        header .menu.account-menu > ul {
          left: auto;
          right: 0; }
      header .menu .username:after {
        content: '\E87F';
        font-size: 1.25em;
        padding: 0 0.5em;
        vertical-align: middle; } }
/* xlarge-size */

/*# sourceMappingURL=header.css.map */
