$gray-dark: #696969;
$gray: #999999;
$background: #f0f0f0;

*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    background-color: $background;
    color: $gray;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cardbox {
    display: flex;
    padding: 1rem;
    @media (min-width: 40rem) {
        width: 50%;
    }
    @media (min-width: 56rem) {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.cardtitle {
    color: $gray-dark;
    font-size: 1.20rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cardtext {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}