
@import 'variables';
@import 'input_elements';

.home-icon {
    box-sizing: border-box;
    button {
        height:100%;    
        width: 100%;
        box-shadow: none;
    }
}

.app-list {
    list-style: none; 
    margin: 0;
    padding: 0;
    button {
        background-color: transparent;
        text-align: left;
        border-color: #eee;
        border-style: solid;
        border-width: 0 0 1px 0;
        // font-size: 0.9em;
        margin: 0;
        // padding: 0;
        &:hover {
            background-color: #eee;
        }
        .icon {
            display: inline-block;
            color: $primary-accent-color;
            vertical-align: middle;
            height: 3em;
            width: 3em;
            margin-right: 1em;
            fill: currentColor;
            img, svg {
                width: 100%;
                height: 100%;
                fill: currentColor;
            }
        }
        label {
            display: inline-block;
            vertical-align: middle;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 80%;
            margin: 0;
        }
    }
}


/*** Breakpoints ***/

/* mid-size */
@include respond-to(medium-up) {
    .app-list {
        .home-icon {
            display: inline-block;
            width: 50%;
            padding: 0.1em;
            button {
                border-width: 1px;
            }
            label {
                width: 70%;
            }
        }
    }
}

/* large-size */
@include respond-to(large-up) {
    .app-list {
        margin: auto;
        max-width: 70em;
        .home-icon {
            width: 20%;
            padding-top: 1em;
            button {
                text-align: center;
                border: none;
                font-size: 0.9em;
                .icon {
                    display: block;
                    margin: auto;
                    height: 8em;
                    width: 8em;
                    padding: 0.75em;
                }
                label {
                    display: block;
                    width: auto;
                    background:#2e2e2e;
                    padding: 0.5em;
                    border-radius: 0.5em;
                    color: #fff;
                    text-transform: none;
                    font-size: 0.9em;
                    white-space: normal;
                    word-wrap: break-word;
                }
            }
        }
    }
}

/* xlarge-size */
@include respond-to(x-large-up) {
    .app-list {
        max-width: 100em;
        padding: 1em 4em;
        .home-icon {
            width: 16%;
            max-width: 14em;
            button{
                // font-size: 0.9em;
                .icon {
                    height: 10em;
                    width: 10em;
                }
                label {
                    font-size: initial;
                }
            }
        }
    }
}
