.toggle-selector,
.form-field.toggle-selector,
.toggle-selector ul,
.toggle-selector ul li {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.toggle-selector {
  position: relative; }
  .toggle-selector:focus {
    outline: none; }
  .toggle-selector ul {
    list-style: none; }
    .toggle-selector ul:focus {
      outline: none; }
    .toggle-selector ul li {
      margin: 0em;
      position: relative; }
  .toggle-selector input[type=radio]:checked + label {
    background: rgba(0, 0, 0, 0.35); }
  .toggle-selector input[type=radio] + label {
    padding: 0.25em 1em;
    border-radius: 1em;
    cursor: pointer; }
  .toggle-selector ul li input {
    display: none; }

/* small-to-medium-only */
@media screen and (min-width: 0em) and (max-width: 50em) {
  .toggle-selector {
    margin-bottom: 0.5em; }
    .toggle-selector ul:after {
      font-family: "pronghorn-font";
      content: '\E87F';
      color: white;
      font-size: 1.5em;
      line-height: 1.15em;
      padding: 0 0.5em;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer; }
    .toggle-selector.show-menu {
      outline: none;
      border-radius: 1em;
      background: rgba(0, 0, 0, 0.15); }
      .toggle-selector.show-menu input[type=radio] + label {
        display: block; }
    .toggle-selector input[type=radio] + label {
      display: none;
      padding: 0.25em 2em 0.25em 1em; }
    .toggle-selector input[type=radio]:checked + label {
      display: block; } }
/* large-size */
@media screen and (min-width: 50em) {
  .toggle-selector,
  .toggle-selector ul,
  .toggle-selector ul li {
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    margin: 0; }

  .toggle-selector li {
    margin: 0 0.25em; }
  .toggle-selector input[type=radio] + label {
    display: block; } }
/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
select, button, textarea, input {
  font-size: 100%; }

a, input, button {
  box-sizing: border-box; }

.form-field label {
  display: block;
  box-sizing: border-box;
  font-size: 0.8em;
  color: #333; }

.form-field input[type="checkbox"] + label {
  display: inline-block; }

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=url],
input[type=number],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=time],
input[list] {
  display: block;
  background: transparent none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0.12);
  color: black;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: 0; }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=tel]:focus,
  input[type=url]:focus,
  input[type=number]:focus,
  input[type=date]:focus,
  input[type=datetime]:focus,
  input[type=datetime-local]:focus,
  input[type=month]:focus,
  input[type=week]:focus,
  input[type=time]:focus,
  input[list]:focus {
    border-color: #0094D9; }

input[type="radio"] + label {
  font-size: initial;
  color: black; }

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75); }

:-moz-placeholder {
  font-style: italic;
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75); }

::-moz-placeholder {
  font-style: italic;
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75); }

:-ms-input-placeholder {
  font-style: italic;
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75); }

button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  align-items: center;
  border: 0 none;
  border-radius: 3px;
  color: currentcolor;
  background-color: #EEE;
  display: inline-block;
  line-height: 1.45em;
  font-weight: 500;
  outline: medium none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 0.25em;
  padding: 0.35em 1em; }
  button label {
    margin: 0 0.5em;
    font-size: 0.9em; }
  button[disabled] {
    color: rgba(0, 0, 0, 0.25); }

button:not([disabled]) {
  background-color: #ddd;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s; }

button:not([disabled]):active {
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.35); }

.primary-action:not([disabled]) {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3); }

.primary-action:not([disabled]) {
  background-color: #0094D9;
  color: rgba(255, 255, 255, 0.87); }
.primary-action.save label, .primary-action.add label, .primary-action.test-run label, .primary-action.tree label, .primary-action.launch label, .primary-action.processing label {
  display: inline-block;
  cursor: pointer; }
.primary-action:focus {
  border: 2px dotted rgba(0, 0, 0, 0.3); }

.secondary-action,
.secondary-action:active {
  box-shadow: none;
  padding: 0.25em 0.5em; }
  .secondary-action:not([disabled]),
  .secondary-action:active:not([disabled]) {
    color: rgba(0, 0, 0, 0.87); }
  .secondary-action label,
  .secondary-action:active label {
    display: none;
    cursor: pointer; }

table button,
table button:active,
table button:not([disabled]) {
  box-shadow: none; }

button {
  vertical-align: middle; }
  button label {
    vertical-align: middle;
    cursor: pointer; }
  button.add:before, button.preview:before, button.clone:before, button.close:before, button.visualize:before, button.list:before, button.tree:before, button.report:before, button.claim:before, button.release:before, button.job:before, button.work:before, button.test-run:before, button.save:before, button.cancel:before, button.delete:before, button.settings:before, button.not-allowed:before, button.launch:before, button.pull-from-device:before, button.push-to-device:before, button.push-to-devices:before, button.publish:before, button.upload:before, button.download:before, button.lock:before, button.release-lock:before, button.unlock:before, button.remove-device:before, button.link:before, button.unlink:before, button.restart:before, button.processing:before, button.backup:before, button.check-sync:before, button.paste-data:before, button.favorite:before, button.unfavorite:before, button.work-task:before {
    font-family: "pronghorn-font";
    font-size: 1.25em;
    vertical-align: middle; }
  button.edit:before, button.pause:before {
    font-family: "pronghorn-font";
    font-size: 0.90em;
    vertical-align: middle; }
  button.run {
    padding: 0.2em 0.25em; }
    button.run:before {
      font-family: "pronghorn-font";
      font-size: 1.00em;
      vertical-align: middle; }
  button.stop {
    padding: 0.2em 0.25em; }
    button.stop:before {
      font-family: "pronghorn-font";
      font-size: 1.00em;
      vertical-align: middle; }
  button.history {
    padding: 0.2em 0.25em; }
    button.history:before {
      font-family: "pronghorn-font";
      font-size: 1.17em;
      vertical-align: middle; }
  button.preview label, button.visualize label, button.close label {
    display: none; }
  button.delete:before {
    font-size: initial; }
  button.preview:before, button.visualize:before {
    content: '\e82c'; }
  button.list:before {
    content: '\e819'; }
  button.history:before {
    content: '\e83c'; }
  button.backup:before {
    content: '\e83e'; }
  button.check-sync:before {
    content: '\e87a'; }
  button.pause:before {
    content: '\e83a'; }
  button.run:before {
    content: '\e83b'; }
  button.restart:before {
    content: '\e835'; }
  button.stop:before {
    content: '\e839'; }
  button.tree:before {
    content: '\e829'; }
  button.report:before {
    content: '\e880'; }
  button.add:before {
    content: '\e838'; }
  button.clone:before {
    content: '\e834'; }
  button.claim:before {
    content: '\e855'; }
  button.release:before {
    content: '\e856'; }
  button.job:before, button.work:before {
    content: '\e854'; }
  button.test-run:before {
    content: '\e85a'; }
  button.save:before {
    content: '\e81c'; }
  button.edit:before {
    content: '\e81B'; }
  button.delete:before {
    content: '\e818'; }
  button.settings:before {
    content: '\e814'; }
  button.not-allowed:before {
    content: '\e862'; }
  button.close:before {
    content: '\e817';
    font-size: 1.5em; }
  button.launch:before {
    content: '\e845'; }
  button.pull-from-device:before {
    content: '\e825'; }
  button.push-to-device:before {
    content: '\e828'; }
  button.push-to-devices:before {
    content: '\e81D'; }
  button.upload:before, button.publish:before {
    content: '\e82E'; }
  button.download:before {
    content: '\e82F'; }
  button.lock:before {
    content: '\e857'; }
  button.release-lock:before {
    content: '\e858'; }
  button.unlock:before {
    content: '\e85B'; }
  button.remove-device:before {
    content: '\e85C'; }
  button.link:before {
    content: '\e812'; }
  button.unlink:before {
    content: '\e87B'; }
  button.paste-data:before {
    content: '\e881'; }
  button.unfavorite:before {
    content: '\e80B';
    color: #F05E22; }
  button.favorite:before {
    content: '\e833'; }
  button.work-task:before {
    content: '\e860'; }
  button.processing:before {
    content: '\e803';
    display: inline-block;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear; }
  button.launch:before {
    content: '\e845'; }

.title-bar button.preview label, .title-bar button.clone label, .title-bar button.close label, .title-bar button.visualize label, .title-bar button.list label, .title-bar button.history label, .title-bar button.report label, .title-bar button.backup label, .title-bar button.check-sync label, .title-bar button.pause label, .title-bar button.run label, .title-bar button.restart label, .title-bar button.stop label, .title-bar button.cancel label, .title-bar button.claim label, .title-bar button.release label, .title-bar button.job label, .title-bar button.work label, .title-bar button.edit label, .title-bar button.delete label, .title-bar button.settings label, .title-bar button.not-allowed label, .title-bar button.pull-from-device label, .title-bar button.push-to-device label, .title-bar button.push-to-devices label, .title-bar button.publish label, .title-bar button.upload label, .title-bar button.download label, .title-bar button.lock label, .title-bar button.release-lock label, .title-bar button.unlock label, .title-bar button.save label, .title-bar button.remove-device label, .title-bar button.favorite label, .title-bar button.unfavorite label, .title-bar button.work-task label,
table .actions button.preview label,
table .actions button.clone label,
table .actions button.close label,
table .actions button.visualize label,
table .actions button.list label,
table .actions button.history label,
table .actions button.report label,
table .actions button.backup label,
table .actions button.check-sync label,
table .actions button.pause label,
table .actions button.run label,
table .actions button.restart label,
table .actions button.stop label,
table .actions button.cancel label,
table .actions button.claim label,
table .actions button.release label,
table .actions button.job label,
table .actions button.work label,
table .actions button.edit label,
table .actions button.delete label,
table .actions button.settings label,
table .actions button.not-allowed label,
table .actions button.pull-from-device label,
table .actions button.push-to-device label,
table .actions button.push-to-devices label,
table .actions button.publish label,
table .actions button.upload label,
table .actions button.download label,
table .actions button.lock label,
table .actions button.release-lock label,
table .actions button.unlock label,
table .actions button.save label,
table .actions button.remove-device label,
table .actions button.favorite label,
table .actions button.unfavorite label,
table .actions button.work-task label,
.rules button.preview label,
.rules button.clone label,
.rules button.close label,
.rules button.visualize label,
.rules button.list label,
.rules button.history label,
.rules button.report label,
.rules button.backup label,
.rules button.check-sync label,
.rules button.pause label,
.rules button.run label,
.rules button.restart label,
.rules button.stop label,
.rules button.cancel label,
.rules button.claim label,
.rules button.release label,
.rules button.job label,
.rules button.work label,
.rules button.edit label,
.rules button.delete label,
.rules button.settings label,
.rules button.not-allowed label,
.rules button.pull-from-device label,
.rules button.push-to-device label,
.rules button.push-to-devices label,
.rules button.publish label,
.rules button.upload label,
.rules button.download label,
.rules button.lock label,
.rules button.release-lock label,
.rules button.unlock label,
.rules button.save label,
.rules button.remove-device label,
.rules button.favorite label,
.rules button.unfavorite label,
.rules button.work-task label {
  display: none; }
.title-bar button.cancel label,
table .actions button.cancel label,
.rules button.cancel label {
  display: none; }
.title-bar button.cancel:before,
table .actions button.cancel:before,
.rules button.cancel:before {
  content: '\e83D'; }

.form-table .delete-row button.delete label,
.form-list .delete-row button.delete label {
  display: none; }
.form-table .delete-row button.delete:focus,
.form-list .delete-row button.delete:focus {
  border: 2px dotted rgba(0, 0, 0, 0.3); }

.tag-control {
  padding: 0.25em; }
  .tag-control > label {
    display: block;
    font-size: 0.8em; }

.tag-list {
  display: block;
  padding: 0.1em;
  border: solid 1px rgba(0, 0, 0, 0.1); }
  .tag-list li {
    display: inline-block;
    padding: 0 0 0 0.25em;
    margin: 0.1em;
    border-radius: 0.25em;
    background: rgba(0, 0, 0, 0.05); }
    .tag-list li:hover {
      background: rgba(0, 0, 0, 0.1); }
    .tag-list li label, .tag-list li button {
      vertical-align: middle; }
    .tag-list li label {
      padding: 0 0.25em;
      font-size: 0.9em; }
    .tag-list li button.remove {
      padding: 0em;
      background: transparent;
      color: rgba(0, 0, 0, 0.1);
      box-shadow: none; }
      .tag-list li button.remove label {
        display: none; }
      .tag-list li button.remove:before {
        font-family: "pronghorn-font";
        content: '\e83D'; }
    .tag-list li:hover button {
      color: rgba(0, 0, 0, 0.5); }

.tag-search {
  padding: 0.25em;
  display: inline-block; }
  .tag-search input {
    width: 10em; }
  .tag-search button {
    font-size: 0.9em;
    margin: 0.1em 0.2em; }
  .tag-search input,
  .tag-search button {
    vertical-align: top; }

.home-icon {
  box-sizing: border-box; }
  .home-icon button {
    height: 100%;
    width: 100%;
    box-shadow: none; }

.app-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .app-list button {
    background-color: transparent;
    text-align: left;
    border-color: #eee;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin: 0; }
    .app-list button:hover {
      background-color: #eee; }
    .app-list button .icon {
      display: inline-block;
      color: #0094D9;
      vertical-align: middle;
      height: 3em;
      width: 3em;
      margin-right: 1em;
      fill: currentColor; }
      .app-list button .icon img, .app-list button .icon svg {
        width: 100%;
        height: 100%;
        fill: currentColor; }
    .app-list button label {
      display: inline-block;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 80%;
      margin: 0; }

/*** Breakpoints ***/
/* mid-size */
@media screen and (min-width: 26em) {
  .app-list .home-icon {
    display: inline-block;
    width: 50%;
    padding: 0.1em; }
    .app-list .home-icon button {
      border-width: 1px; }
    .app-list .home-icon label {
      width: 70%; } }
/* large-size */
@media screen and (min-width: 50em) {
  .app-list {
    margin: auto;
    max-width: 70em; }
    .app-list .home-icon {
      width: 20%;
      padding-top: 1em; }
      .app-list .home-icon button {
        text-align: center;
        border: none;
        font-size: 0.9em; }
        .app-list .home-icon button .icon {
          display: block;
          margin: auto;
          height: 8em;
          width: 8em;
          padding: 0.75em; }
        .app-list .home-icon button label {
          display: block;
          width: auto;
          background: #2e2e2e;
          padding: 0.5em;
          border-radius: 0.5em;
          color: #fff;
          text-transform: none;
          font-size: 0.9em;
          white-space: normal;
          word-wrap: break-word; } }
/* xlarge-size */
@media screen and (min-width: 92em) {
  .app-list {
    max-width: 100em;
    padding: 1em 4em; }
    .app-list .home-icon {
      width: 16%;
      max-width: 14em; }
      .app-list .home-icon button .icon {
        height: 10em;
        width: 10em; }
      .app-list .home-icon button label {
        font-size: initial; } }

/*# sourceMappingURL=home.css.map */
