@import 'variables';

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.status label, 
.status span {
    display: none;
}
.status:before {
    font-family: "pronghorn-font";
    content: '\e846';
}
.status.online:before {
    color: #10dc4f;
}
.status.offline:before {
    color: #e11845;
}
.status.unknown:before {
    content: '\e848';
    color: #999;
}

.restButtonContainer {
  text-align: center;
  display: block;
}

.graphs, .core, .system {
  vertical-align: top;
  box-sizing: border-box;
  border: solid 1px #999;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0 0  0.5em 0;
  h2 {
    margin: 0 0 0.5em 0;
    text-align: center;
  }
}

.graphs {
    div.graph {
      padding: 0.25em 1em;
    }
    div.pie-graph {
      padding: 0.25em 20%;
    }
}

.graph label {
  text-align: center;
  display: block;
}

.overview {
  .set {
    div {
      vertical-align: top;
      display: inline-block;
      padding: 0.1em 0.25em;
    }
    .label {
      text-align: right;
      font-weight: bold;
      width: 60%;
    }
    .value {
      width: 40%;
    }
  }
}

.value {
  overflow: hidden;
}

.list {
  > h2 {
    display: inline-block;
    margin-right: 2em;
  }
}
table.responsive .actions button {
  margin: 0 0.25em;
}

button {
  &.run, 
  &.download {
    &:before {
      margin-right: 0.25em;
    }
  }
}

.resetButtonContainer {
  text-align: center;
  display: block;
}


/*** Breakpoints ***/

/* mid-size */
@include respond-to(medium-up) {

  .graphs {
      div.graph {
        display: inline-block;
        width: 50%;
        padding: 0.25em 1em;
      }
      div.pie-graph {
        display: inline-block;
        width: 50%;
        padding: 0.25em 14%;
      }
  }

  .overview {
    width: 100%;
    label {
      font-weight: bold;
    }
    .core, .system {
        // display: flex;
        position: relative;
        table {
          width: 100%;
        }
    }
    .core {
      .details, .memory, .cpu {
        display: inline-block;
        vertical-align: top;
      }
      .details  {
        width: 26%;
      }
      .memory {
        width: 37%;
      }
      .cpu {
        width: 37%;
      }
    }
    .system {
      .versions, .details {
        display: inline-block;
        vertical-align: top;
      }
      .versions {
        width: 40%;
        .value{
          word-break: break-all;
        }
      }
      .details  {
        width: 60%;
        .label {
          width: 20%;
        }
        .value {
          width: 80%;
        }
      }
    }
    
    // .core {
    //   width: 50%;
    // }
    // .system {
    //   width: 50%;
    //   margin-left: 0.5em;
    // }
  }
}

/* large-size */
@include respond-to(large-up) {
  .workspace {
    padding: 1em;
  }

  .graphs {
      div.graph {
        display: inline-block;
        width: 28%;
        padding: 0.25em 1em;
      }
      div.pie-graph {
        display: inline-block;
        width: 16%;
        padding: 0.25em 1em;
      }
  }

  .graphs div { 
    vertical-align: top;
  }

  .overview {
    display: flex;
    .core {
      width: 50%;
    }
    .system {
      width: 50%;
      margin-left: 0.5em;
    }
    .core {
      button {
        position: absolute;
        font-size: 0.75em;
        top: 0.75em;
        right: 0.75em;
      }
    }
  }

.applications table {
  td:nth-child(1), th:nth-child(1) {
      width: 9.5em;
      text-align: center;
  }
}
.adapters table {
  td:nth-child(1), th:nth-child(1) {
      width: 4em;
      text-align: center;
  }
  td:nth-child(2), th:nth-child(2) {
      width: 5em;
      text-align: center;
  }
}

  // .graphs, 
  // .legend, .chartHolderLarge, .chartHolderSmall {
  //   display: inline-block;
  // }

  // .legend {
  //   width: 20%;
  // }
  // .legend li {
  //     display: block;
  //     padding: 0em;
  //     font-size: 1em;
  // }
  // .chartHolderLarge {
  //   width: 55%;
  //   padding-right: 2em;
  //   > div {
  //     width: 50%;
  //     padding: 0.5em 1em;
  //   }
  // }

  // .chartHolderSmall {
  //   width: 25%;
  //   > div {
  //     width: 50%;
  //     padding: 0.5em 0.5em;
  //   }
  // }

  .form-actions {
    padding: 1em;
  }
}

/* large-size */
@include respond-to(x-large-up) {
  .graphs { 
    // width: 60%;
  }

}

.cpu-freeze-container button label {
  display: none;
}

.cpu-freeze-container button {
  padding: 5px;
}

.cpu-freeze-container {
  float: right;
  overflow: absolute;
}
