@import 'variables';
@import 'toggle_selector';
@import 'animation';

select, button, textarea, input {
    font-size: 100%;
}
a, input, button {
  box-sizing: border-box;
}

.form-field label,
.form-field label_required { 
    display: block;
    box-sizing: border-box;
    font-size: 0.8em;
    color: $label-color;
}
.form-field label_required::before {
  content: '*';
  font-weight: bold;
  color: red;
}
.form-field input[type="checkbox"] + label,
.form-field input[type="checkbox"] + label_required {
    display: inline-block;
}

//select, 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=tel], 
input[type=url], 
input[type=number], 
input[type=date], 
input[type=datetime], 
input[type=datetime-local], 
input[type=month], 
input[type=week], 
input[type=time], 
input[list] {
    display: block;
    background: $input-background;
    border-color: $border-color;
    color: $data-color;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin: 0;
    &:focus {
        border-color: $primary-accent-color;
    }
}

input[type="radio"] + label {
    font-size: initial;
    color: $data-color;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
}
:-moz-placeholder { 
  font-style: italic;
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
}
::-moz-placeholder { 
  font-style: italic;
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
}
:-ms-input-placeholder {
  font-style: italic;
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
}

button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  align-items: center;
  border: 0 none;
  border-radius: 3px;
  color: currentcolor;
  background-color: $button-color;
  display: inline-block;
  // font-size: 0.9em;
  line-height: 1.45em;
  font-weight: 500;
  outline: medium none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 0.25em;
  padding: 0.35em 1em;
  &:before {
    // margin-right: 0.5em;
  }
  label {
    margin: 0 0.5em;
    font-size: 0.9em;
  }
  &[disabled] {
    color: rgba(0, 0, 0, 0.25);
  }
}

button:not([disabled]) {
  background-color: #ddd;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
// button:not([disabled]):active, 
// .secondary-action:not([disabled]):active, 
// .primary-action:not([disabled]):active, 
button:not([disabled]):active {
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.35); 
}

// button:not([disabled]), 
// .secondary-action:not([disabled]), 
.primary-action:not([disabled]) {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.primary-action {
  &:not([disabled]) {
    background-color: $primary-accent-color;
    color: $text-color-reverse;
  }
  // min-height: 2.5em;
  // padding: 0.5em 1em;
  // transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  &.save, 
  &.add, 
  &.test-run, 
  &.tree,
  &.launch, 
  &.processing {
    label {
      display: inline-block;
      // margin: 0 0.5em;
      cursor: pointer;
    }
  }

  &:focus {
    border: 2px dotted rgba(0, 0, 0, 0.3);
  }
}


.secondary-action, 
.secondary-action:active {
//  background-color: $primary-accent-color;
  box-shadow: none;
  padding: 0.25em 0.5em;
  &:not([disabled]) {
    color: $text-color;
  }
  // min-height: 2.5em;
  // padding: 0.5em 1em;
  // transition: box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  label {
    display: none;
    cursor: pointer;
  }
}

table {
  button, 
  button:active, 
  button:not([disabled]) {
    box-shadow: none;
  }
}

button {
  // padding: 0.35em 1em;
  vertical-align: middle;
  label {
    vertical-align: middle;
    cursor: pointer;
  }
  &.add, 
  &.preview, 
  &.clone, 
  &.close, 
  &.visualize,
  &.list,
  &.tree,
  &.report,
  &.claim, 
  &.release, 
  &.job, 
  &.work, 
  &.test-run, 
  &.save, 
  &.cancel, 
  &.delete, 
  &.settings,
  &.not-allowed, 
  &.launch, 
  &.pull-from-device, 
  &.push-to-device, 
  &.push-to-devices, 
  &.publish, 
  &.upload, 
  &.download, 
  &.lock, 
  &.release-lock, 
  &.unlock, 
  &.remove-device, 
  &.link, 
  &.unlink, 
  &.restart,
  &.processing,
  &.backup,
  &.check-sync, 
  &.paste-data, 
  &.favorite, 
  &.unfavorite, 
  &.work-task {
    // padding: 0.2em 0.25em;
    &:before {
      font-family: "pronghorn-font";
      font-size: 1.25em;
      // line-height: 0.8em;
      vertical-align: middle;
    }
  }
  &.edit,
  &.pause {
    // padding: 0.2em 0.25em;
    &:before {
      font-family: "pronghorn-font";
      font-size: 0.90em;
      vertical-align: middle;
    }
  }
  &.run {
    padding: 0.2em 0.25em;
    &:before {
      font-family: "pronghorn-font";
      font-size: 1.00em;
      vertical-align: middle;
    }
  }
  &.stop {
    padding: 0.2em 0.25em;
    &:before {
      font-family: "pronghorn-font";
      font-size: 1.00em;
      vertical-align: middle;
    }
  }
  &.history {
    padding: 0.2em 0.25em;
    &:before {
      font-family: "pronghorn-font";
      font-size: 1.17em;
      vertical-align: middle;
    }
  }
  &.preview, 
  // &.clone, 
  &.visualize,
  // &.history,
  // &.pause,
  // &.run,
  // &.claim, 
  // &.release, 
  // &.work, 
  // &.edit,
  // &.delete, 
  // &.settings,
  // &.not-allowed, 
  // &.pull-from-device, 
  // &.push-to-device, 
  // &.push-to-devices, 
  // &.publish, 
  // &.upload, 
  // &.download, 
  &.close { 
    label {
      display: none;
    }
  }
  &.add, 
  &.test-run, 
  &.launch {
    &:before {
      // margin-right: 0.25em;
    }
  }
  &.delete:before {
    font-size: initial;
  }
  // &.add {
  //   &:before {
  //     font-family: "pronghorn-font";
  //     font-size: 1.25em;
  //     vertical-align: middle;
  //   }
  //   label {
  //       margin: 0 0.5em;
  //       vertical-align: middle;
  //   }
  // }
  &.preview:before, 
  &.visualize:before {
    content: '\e82c';
  }
  &.list:before {
    content: '\e819';
  }
  &.history:before {
    content: '\e83c';
  }
  &.backup:before {
    content: '\e83e';
  }
  &.check-sync:before {
    content: '\e87a';
  }
  &.pause:before {
    content: '\e83a';
  }
  &.run:before {
    content: '\e83b';
  }
  &.restart:before {
    content: '\e835';
  }
  &.stop:before {
    content: '\e839';
  }
  &.tree:before {
    content: '\e829';
  }
  &.report:before {
    content: '\e880';
  }
  &.add:before {
    content: '\e838';
  }
  &.clone:before {
    content: '\e834';
  }
  &.claim:before {
    content: '\e855';
  }
  &.release:before {
    content: '\e856';
  }
  &.job:before, 
  &.work:before {
    content: '\e854';
  }
  &.test-run:before {
    content: '\e85a';
  }
  &.save:before {
    content: '\e81c';
  }
  &.edit:before {
    content: '\e81B';
  }
  &.delete:before {
    content: '\e818';
  }
  &.settings:before {
    content: '\e814';
  }
  &.not-allowed:before {
    content: '\e862';
  }
  // &.cancel:before {
  //   content: '\e83D';
  // }
  &.close:before {
    content: '\e817';
    font-size: 1.5em;
    // line-height: 0.5em;
  }
  &.launch:before {
    content: '\e845';
  }
  &.pull-from-device:before {
    content: '\e825';
  } 
  &.push-to-device:before {
    content: '\e828';
  }
  &.push-to-devices:before {
    content: '\e81D';
  } 
  &.upload:before, 
  &.publish:before {
    content: '\e82E';
  }
  &.download:before {
    content: '\e82F';
  }
  &.lock:before {
    content: '\e857';
  }
  &.release-lock:before {
    content: '\e858';
  }
  &.unlock:before {
    content: '\e85B';
  }
  &.remove-device:before {
    content: '\e85C';
  }
  &.link:before {
    content: '\e812';
  }
  &.unlink:before {
    content: '\e87B';
  }
  &.paste-data:before {
    content: '\e881';
  }
  &.unfavorite:before {
    content: '\e80B';
    color: $secondary-accent-color;
  }
  &.favorite:before {
    content: '\e833';
  }
  &.work-task:before {
    content: '\e860';
  }


  // Add and Animate the Spinny Thing
  &.processing:before {
    content: '\e803';
    display: inline-block;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
  &.launch:before {
    content: '\e845';
  }
}

.title-bar button, 
table .actions button, 
// .form-table button, 
.rules button {
  &.preview, 
  &.clone, 
  &.close, 
  &.visualize,
  &.list,
  &.history,
  &.report,
  &.backup,
  &.check-sync,
  &.pause,
  &.run,
  &.restart,
  &.stop,
  &.cancel,
  &.claim, 
  &.release, 
  &.job, 
  &.work, 
  &.edit,
  &.delete, 
  &.settings,
  &.not-allowed, 
  &.pull-from-device, 
  &.push-to-device, 
  &.push-to-devices, 
  &.publish, 
  &.upload, 
  &.download, 
  &.lock, 
  &.release-lock, 
  &.unlock, 
  &.save,
  &.remove-device, 
  &.favorite, 
  &.unfavorite, 
  &.work-task {
    label {
      display: none;
    }
  }
  &.cancel {
    label {
      display: none;
    }
    &:before {
      content: '\e83D';
    }
  }
}
.form-table .delete-row button.delete, 
.form-list .delete-row button.delete {
  label {
    display: none;
  }

  &:focus {
    border: 2px dotted rgba(0, 0, 0, 0.3);
  }
}
// table .actions {
//   button {
//     &:before {
//       font-size: initial;
//     }
//   }
// }


.tag-control {
	padding: 0.25em;
	> label {
		display: block;
		font-size: 0.8em;
	}
}

.tag-list {
	display: block;
	padding: 0.1em;
	border: solid 1px rgba(0,0,0,0.1);
	li {
		display: inline-block;
		padding: 0 0 0 0.25em;
    margin: 0.1em;
		border-radius: 0.25em;
		background: rgba(0,0,0,0.05);
		&:hover {
			background: rgba(0,0,0,0.1);
		}
		label, button {
			vertical-align: middle;
		}
		label {
			padding: 0 0.25em;
			font-size: 0.9em;

		}
		button.remove {
			padding: 0em;
			background: transparent;
			color: rgba(0,0,0,0.1);
			box-shadow: none;
			label {
				display: none;
			}
			&:before {
				font-family: "pronghorn-font";
				content: '\e83D';
			}
		}
		&:hover button {
			color: rgba(0,0,0,0.5);
		}
	}
}

.tag-search {
  padding: 0.25em;
	display: inline-block;
	input {
		width: 10em;
	}
	button {
		font-size: 0.9em;
		margin: 0.1em 0.2em;
	}
	input, 
	button {
		vertical-align: top;
	}
}