@import 'variables';


/* * * * * * * * * * * * * * * * * */
/* * *   Not sure where the    * * */
/* * *   below is used yet.    * * */
/* * *   Consider removing.    * * */
/* * * * * * * * * * * * * * * * * */

/* This sets the hover-over item color so it's visible before you select */
// md-list md-list-item button.md-button:not([disabled]):hover {
//     background-color: rgba(158, 158, 158, 0.2) !important;
// }
/* Default selection color when selecting items from md-list-items */
.selected {
    background: lightgrey;
}
/* This fixes the spacing when using md-list-items so the are node so "tall" */
// md-list-item, md-list-item .md-list-item-inner {
//     min-height: 40px;
//     height: 40px;
// }


/* Imported from Angular Material to keep the styling the same while we passively extract it */
html, body {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
body {
    margin: 0;
    padding: 0;
}
html, body {
    background: white none repeat scroll 0 0;
    color: rgba(0, 0, 0, 0.87);
    height: 100%;
    position: relative;
}
select, button, textarea, input {
    // font-size: 100%;
}
button, select, html, textarea, input {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
input[type="reset"], input[type="submit"], html input[type="button"], button {
    cursor: pointer;
}
select, button, textarea, input {
    vertical-align: baseline;
}


.page {
    height: 100%;
}
.content {
    height: calc(100% - 3em);
}

.title-bar {
	display: block;
	box-sizing: border-box;
	position: relative;
	padding: 0.2em 1em;
	min-height: 2.5em;
	background: $primary-accent-color;
	.title {
		display: inline-block;
	    margin: 0.25em 1em 0.25em 0.25em;
		padding: 0;
		vertical-align: middle;
		min-height: 1.25em;
		// display: inline;
	}
	.title, 
	.toggle-selector label {
		color: $text-color-reverse;
	}
	input, button {
		display: inline-block;
		margin: 0.05em 0.5em;
	}
	.toggle-selector {
		vertical-align: middle;
	}
//	.form { 
		// display: inline-block;
		// float: right;
		input {
			border: none;
			background-color: rgba(255, 255, 255, 0.5);
			border-radius: 0.25em;
			padding: 0.2em 0.5em;
			vertical-align: middle;
		}
		.form-actions {
			display: inline-block;
			margin: 0;
		}
		button:not([disabled]), 
		button:not([disabled]):active {
			padding: 0.25em 1em;
				box-shadow: none;
			&.close {
				background: transparent;

				color: white;
				margin: 0.0em;
				margin-left: 0.5em;
				padding: 0.25em 0.5em;
			}
			&.save, &.preview, &.clone, &.settings, &.clone {
				// padding: 0.2em;
				background: #eee none repeat scroll 0 0;
				box-shadow: none;
				color: #000000;
				min-height: initial;
			}
			&.primary-action.save label {
				display: initial;
			}
			&.secondary-action {
				padding: 0.25em 0.5em;
			}
		}
//	}
}

.workspace {
    padding: 0.5em;
}
div, .workspace {
    box-sizing: border-box;
}

/*** Breakpoints ***/

/* small-to-medium-only */
@include respond-to(small-and-medium-only) {
	.title-bar {
		.title {
			vertical-align: top;
		}
		.form, 
		.actions { 
			button.close {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

/* large-size */
@include respond-to(large-up) {
	.title-bar {
		input, button {
			// margin: 0.15em 0.25em;
		}
		.form, 
		.actions { 
			display: inline-block;
			float: right;
		}
	}
}