button:focus {
	outline:none;
}
input:focus {
	outline:none;
}
select:focus {
	outline:none;
}
our-md-list-item {
	outline:none !important;
}

button:not([disabled]).md-button {
	background-color:transparent !important;
	box-shadow:none !important;
}

button:not([disabled]).md-button:hover {
	background-color:rgba(158,158,158,0.2) !important;
}

.provider-search {
	width:100%;
	height:35px;
	padding-left:18px;
	font-size:14px;
	font-weight:500;
	box-sizing:border-box;
	border-right:none;
	border-left:none;
	border-top:none;

}

.provider-search::-webkit-input-placeholder {
	font-family:"Helvetica Neue", sans-serif;
	font-style:normal !important;
	font-size:14px;
	font-weight:500;
	color:grey;
}

.modal-title {
	font-weight:400;
	font-size:1.3em;
}

.provider-modal {
	padding:15px 12px 20px;
	font-weight:500;
	font-size:.95em;
}

.clone-input {
	border:none;
	border-bottom:2px solid #999999;
	width:100%;
	padding-left:10px;
	font-size:18px;
	margin-top:10px;
}
.clone-input::-webkit-input-placeholder{
	color:grey;
}
.blue-warning{
	font-size:.85em;
	color: #3D93D3;
	font-weight:500;
	padding-left:5px;
}

.jqx-widget .jqx-grid-cell-selected{
	color:black;
	background:rgb(225,225,225);;
}

.jqx-cell, .jqx-widget .jqx-grid-cell-selected .jqx-cell{
	background:rgb(245,245,245);
}
.provider-value {
	background:white;
	font-weight:500;
	color:black;
}
.required-value{
	background: white;
	font-weight:500;
	color:black;
	outline: 2px solid rgba(255,55,55,.8);
    outline-offset: -1px;
}
.jqx-grid-cell-locked{
	color:black !important;
}
.jqx-grid-cell{
	border-bottom:1px solid rgb(200,200,200) !important;
}
.blurNav {
	opacity:.5;
}
.jqx-fill-state-pressed {
	color:black;
}

/* Ace Editor Styles*/
#editor, #new-editor {
	padding-top:10px;
	padding-bottom:10px;
	position: absolute;
	top: 80px;
	right: 10px;
	bottom: 10px;
	left: 10px;
 }

 .ace-clouds {
  color: #323232 !important;
}

.ace_active-line {
  background: rgba(0, 148, 217, .08) !important;
}

.ace_boolean {
  color: #F05E22 !important;
}

.ace_string {
  color: #0094d9 !important;
}
