.row-header{
    background-color: #334EFF;
    margin:0px auto;
    padding:8px;
    color: white;
    font-size: 1.5em;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #33BAFF;
    margin:0px auto;
    padding: 6px;
}

.title-font{
    color: black;
    font-size: 1.5em;
}

.backgroundcolor{
    background-color: cadetblue;
    
}

.img {
    
    float:  center;
    width:  100px;
    height: 100px;
    margin-bottom: 20px;
    
}

.with-margin {
    margin-bottom: 30px;  
}

.spacer5 {
    height: 10px;
  }